.main-container-shorts {
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center;
    padding: 20px;
    background-color: var(--shorts-container-bg-color); /* Светлый оранжевый фон */
    min-height: 88vh;
    width: 100vw; /* Устанавливаем ширину в 70% от экрана */
    margin: 0 auto; /* Центрируем блок */
    position: relative;
    border-radius: 20px; /* Делаем края более плавными */
    overflow: hidden; /* Предотвращает выход элементов за границы */
}

.shorts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.video-wrapper {
    width: 100%;
    max-width: 450px; /* Увеличил размер видео */
    aspect-ratio: 9 / 16;
    overflow: hidden;
    position: relative;
    border-radius: 20px; /* Закругленные углы */
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px; /* Закругленные углы для видео */
}

/* Стили для блока с кнопками лайка, дизлайка и комментариев */
.video-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative; /* Относительное позиционирование относительно видео */
    right: 0; /* Прижимает кнопки к краю */
    margin-left: 10px; /* Добавляет небольшой отступ от видео */
}


.video-actions svg {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.video-actions svg:hover {
    transform: scale(1.2);
}

.video-actions span {
    font-size: 16px;
    font-weight: bold;
    color: var(--shorts-container-video-action-color);
}

/* Стили для панели комментариев */
.comments-panel {
    position: absolute;
    top: 10.5%; /* Задаем отступ от хедера (изменяй в зависимости от реальной высоты хедера) */
    right: 10%; /* Смещаем к правому краю */
    bottom: 0;
    height: 82%;
    width:350px;
    background: var(--shorts-container-comments-panel-bg-color);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.comments-panel h1 {
    font-size: 20px;
    color: var(--shorts-container-comments-panel-h1-color);
    margin-bottom: 15px;
    text-align: center;
}

.comments-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.comments-panel input {
    padding: 10px;
    border: 1px solid var(--shorts-container-cooments-panel-input-border);
    border-radius: 8px;
    font-size: 14px;
}

.comments-panel button {
    background-color: var(--shorts-container-comments-panel-btn-bg-color);
    color: var(--shorts-container-comments-panel-h1-color);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

.comments-panel button:hover {
    background-color: var(--shorts-container-comments-panel-btn-hover-bg-color);
}

.all-comments {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-item {
    background: var(--shorts-container-comments-panel-item-bg-color);
    padding: 10px;
    /* margin-top: 10px; */
    border: 1px solid var(--shorts-container-cooments-panel-input-border);
    border-radius: 8px;
}

.comment-item h3 {
    font-size: 16px;
    color: var(--shorts-container-comments-panel-item-h3-color);
    margin-bottom: 5px;
}

.comment-item p {
    font-size: 14px;
    color: var(--shorts-container-comments-panel-item-p-color);
    margin: 5px 0;
}

.comment-item button {
    background-color: var(--shorts-container-comment-item-btn-bg-color);
    color: var(--shorts-container-comment-itme-btn-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s ease;
}

.comment-item button:hover {
    background-color: var(--shorts-container-comment-item-btn-hover-bg-color);
}

.video-description {
    position: absolute;
    top: 3%; /* Задаем отступ от хедера (изменяй в зависимости от реальной высоты хедера) */
    left: 10%; 
    bottom: 0;
    height: 89%;
    width:350px;
    background: var(--shorts-container-comments-panel-bg-color);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
   
}

.video-description h1,
.video-description h2 {
    font-size: 20px;
    color: var(--shorts-container-comments-panel-h1-color);
    margin-bottom: 15px;
    text-align: center;
}

.video-description p {
    font-size: 15px; /* Размер текста */
    line-height: 1.6; /* Межстрочный интервал */
    color: var(--shorts-container-comments-panel-h1-color); /* Цвет текста */
}

.video-description p > p {
    margin: 5px 0; /* Отступы между тегами */
    color: var(--shorts-container-video-desc-p-color); /* Цвет тегов */
    cursor: pointer; /* Указатель для кликабельных элементов */
}

.video-description p > p:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}